<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="img-thumbnail rounded-circle" src="img/cooking.png" width="200" alt="me">
            <h1 class="display-4">Ahmad Furqan</h1>
            <div class="lead">Government Employee</div>
        </div>
    </div>
</div>